flows (2).json
[{"id":"994e066f.a46348","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b07d3140.b73ed","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d15ec0ff.41eb5","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c03da20c.84d21","type":"rpi-gpio out","z":"994e066f.a46348","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":590,"y":180,"wires":[]},{"id":"e1b7deb3.4392","type":"debug","z":"994e066f.a46348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":60,"wires":[]},{"id":"c8741e6d.59e8b","type":"rpi-gpio in","z":"994e066f.a46348","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":60,"wires":[["e1b7deb3.4392","6a1c208a.92bb7"]]},{"id":"6a1c208a.92bb7","type":"switch","z":"994e066f.a46348","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":160,"wires":[["bfc9d470.e12a58"],["3c3d471b.075928"]]},{"id":"bfc9d470.e12a58","type":"change","z":"994e066f.a46348","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["c03da20c.84d21"]]},{"id":"3c3d471b.075928","type":"change","z":"994e066f.a46348","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":200,"wires":[["c03da20c.84d21"]]},{"id":"e03de018.7f173","type":"inject","z":"b07d3140.b73ed","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":130,"y":140,"wires":[["adbb7266.7940c"]]},{"id":"adbb7266.7940c","type":"function","z":"b07d3140.b73ed","name":"Payload","func":"msg.headers={\n    devicekey: \"Cn4mkTrioaybRXpR\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["d9086376.46a72"]]},{"id":"d9086376.46a72","type":"http request","z":"b07d3140.b73ed","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D13SIEZw/datachannels/Temperature/datapoints.csv","tls":"","x":430,"y":140,"wires":[["518960a8.6c54c","415267ba.10e9e8"]]},{"id":"518960a8.6c54c","type":"http response","z":"b07d3140.b73ed","name":"","statusCode":"","headers":{},"x":590,"y":140,"wires":[]},{"id":"415267ba.10e9e8","type":"debug","z":"b07d3140.b73ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"a8796f90.71aba","type":"inject","z":"d15ec0ff.41eb5","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"5","x":110,"y":140,"wires":[["a4003c2e.f3d4b"]]},{"id":"a4003c2e.f3d4b","type":"function","z":"d15ec0ff.41eb5","name":"Payload","func":"msg.headers={\n    deviceKey: \"Cn4mkTrioaybRXpR\"\n    };\nmsg.payload= \"Temperature,,26\" ;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["7bef4772.cd1928"]]},{"id":"7bef4772.cd1928","type":"http request","z":"d15ec0ff.41eb5","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/D13SIEZw/datapoints.csv","tls":"","x":450,"y":140,"wires":[["a28a5e41.50abb","25095ba0.4c3b14"]]},{"id":"a28a5e41.50abb","type":"http response","z":"d15ec0ff.41eb5","name":"","statusCode":"","headers":{},"x":240,"y":320,"wires":[]},{"id":"25095ba0.4c3b14","type":"debug","z":"d15ec0ff.41eb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":340,"wires":[]}]